---
title: Linear
layout: default
---

<!-- Main -->
	<div id="main">
		<div class="container">
			<div class="row">
				{% include sidebar_boston.html %}

				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
						<header>
							<h2>Things to do in Boston</h2>
							<span class="byline">What to do while you're in town</span>
						</header>
						<p>You may just be in Boston for a couple days, but we've lived here for a couple years (and Kelly grew up here).  So here are some of our suggestions for things to do if you have some free time while you're in town.  Unfortunately, some are in pseudo-latin.</p>
            {% for place in site.places %}
              {% if place.area %}
                <h2><a name="{{ place.link }}">{{ place.area }}</a></h2>
                {{ place.content }}
              {% else %}
                <h4>{% if place.link %}<a href="{{ place.link }}">{% endif %}
                    {{ place.place }}
                    {% if place.link %}</a>{% endif %}
                </h4>
                {{ place.content }}
              {% endif %}
            {% endfor %}

            <h2><a name="Cambridge">Cambridge</a></h2>
						
						<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Donec nonummy magna quis risus. Quisque eleifend. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit.</p>
						<p>Donec nonummy magna quis risus. Quisque eleifend. Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Aliquam libero. Vivamus nisl nibh, iaculis vitae, viverra sit amet, ullamcorper vitae, turpis. Aliquam erat volutpat. Vestibulum dui sem, pulvinar sed, imperdiet nec, iaculis nec, leo. Fusce odio. Etiam arcu dui, faucibus eget, placerat vel, sodales eget, orci. Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis at, ultricies quis, justo. Phasellus tempor vehicula justo. Aliquam lacinia metus ut elit.</p>
						<p>Being in Jamaica Plain, Cambridge (also known as the People's Republic of Cambridge) is like psuedo latin to us, kind of weird, but close to what we know.  We'd suggest going there for Kayaking on the Charles and beers at Cambridge Brewing Company or Lord Hobo in Kendall. In Central we suggest Shanghai Fresh, or if you want to really spend some money on a great meal Cragie on Main (you can also go to the bar, and try to get one of their secret Burgers), and there is a good sci-fi/fantasy/board gaming store. Also walking around Harvard Square is always nice (Forage, a bit a way, is a great place for a fancy meal).
					</section>
				</div>

			</div>
		</div>
	</div>
<!-- /Main -->
