<div id="nav-wrapper">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="/index.html">Ceremony</a></li>
			<li {% if current[1] == 'hotels.html' %}class='current'{% endif %}><a href="/hotels.html">Hotels</a></li>
			<li {% if current[1] == 'schedule.html' %}class='current'{% endif %}><a href="/schedule.html">Schedule</a></li>
			<li {% if current[1] == 'boston.html' %}class='current'{% endif %}><a href="/boston.html">Boston</a></li>
			<li {% if current[1] == 'new_england.html' %}class='current'{% endif %}><a href="/new_england.html">New England</a></li>
			<li {% if current[1] == 'talk.html' %}class='current'{% endif %}><a href="/talk.html">Talk</a></li>
		</ul>
	</nav>
</div>
